<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">{{model.title}}</h2>
  </div>
  <div class="panel-body">
    <p>by {{model.username}}</p>

    <h5>{{model.text}}</h5>

    <p>Posted on {{model.date_added}}</p>

    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      {{update-post post=model updatePost="updatePost"}}
    </div>
    <div class="col-md-3">
      <button class="btn btn-danger" {{action 'deletePost' model}}>Delete</button>
    </div>
  </div>
</div>

{{new-comment saveComment="saveComment" post=model}}
<br>
{{comment-detail updateComment="updateComment" post=model}}
